.CajaquintaPantalla{
    display: flex;
    flex-flow: row;
    height: 100vh;
}

.Cajatextos{
    display: flex;
    flex-flow: column;
    width:50%;
    /* padding: 10px; */
    /* padding: 10px 0 10px 5px; */
    margin-left: 5px;
    margin-bottom: 10px;
   
}
.Cajatextos h1{
    margin-bottom: -5%;
}

.TextoLargo{

    margin-top: 10%;
 
}

.TextoLargo p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: -15px;
}

.CifrasCampaña{
    display: flex;
    flex-flow: row;
}

.CifrasCampaña1{
    flex: 1 1;

}

.CifrasCampaña2{
    flex: 1 1;
    
}

.CifrasCampaña1 h3, .CifrasCampaña2 h3{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;

}
.CifrasCampaña1 h1, .CifrasCampaña2 h1{
    color: #2cb7e5;    
}

.CajaImgCaballero{
    width: 50%;

}

.ImgCaballero{
    width: 100%;

}

