    .containerFirstView {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .boxtextprincipal{
        display: flex;
        justify-content: center;

    }
    .containerFirstView{
        background-image: url("../img/HeaderMujer.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .boxtextprincipal h1{
        color: #ffffff;
        height: 20px;
        width: 100%;
        font-family: "Montserrat", sans-serif;    
    }
    
    .boxtextprincipal h3{
        font-family: 'Lora', serif;
        font-size: 24px;
        color: #ffffff;
        height:auto;
        width: 748px;
        margin-left: 20%;
    }

    /* .contenedorIconosBoton{
        display: flex;
        flex-flow: column nowrap;

    } */

    .boxBotonesredondos{
      
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .boxbuttonsprincipal1, .boxbuttonsprincipal2, .boxbuttonsprincipal3, .boxbuttonsprincipal4 {
        color: #333333; 
        background-color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 150px;
        height: 150px;
        border-radius: 80px;
        border: none;

    }

    .boxbuttonsprincipal1:hover, .boxbuttonsprincipal2:hover{
    background-color: #ff5920;
    }

   
    .boxbuttonsprincipal3:hover{
    background-color: rgb(240, 161, 71);
    } 
    .boxbuttonsprincipal4:hover{
    background-color:#2cb7e5 ;    
    }


    .icones{
    display: flex;
    
    width: 5%;
    height: auto;
  

    }

    .imgIcon{
    width: 100%;
    height: 100%;
    }

