.CajaquintaPantalla{
display: flex;
flex-flow: row;
}
.Cajatextos{
display: flex;
flex-flow: column;
width:50%;
padding: 20px;
}
.TextoLargo h3{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    
}










.CifrasCampaña{
display: flex;
flex-flow: row;
}

.CifrasCampaña1{
flex: 1 1;

}
.CifrasCampaña2{
flex: 1 1;
    
}

.CifrasCampaña1 h3, .CifrasCampaña2 h3{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;

}
.CifrasCampaña1 h1, .CifrasCampaña2 h1{
color: #2cb7e5;    
}



.CajaImgCaballero{
width: 50%;

}
.ImgCaballero{
width: 100%;

}

