.containerFirstView {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("../img/HeaderMujer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.boxtextprincipal{
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin-top: 30px;
}
    
.boxtextprincipal h1{
    color: #ffffff;
    height: 20px;
    width: 100%;
    font-family: "Montserrat", sans-serif !important;
    padding-left: 10%;
    font-size: 60px;
}
    
.boxtextprincipal h3{
    font-family: 'Lora', serif !important;
    font-size: 32px;
    color: #ffffff;
    height:auto;
    width: 748px;
    padding-left: 10%;
    margin-top: 15%;
    margin-bottom: 5px;
}
/* 
.BotonFlecha{
    display: flex;
    flex-flow:row;
    align-items: center;
}

.btnFloat{
   
}

.flecha{

} */
