.CajaTexto h4{

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}

.CajaTexto p{
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
}

a{
    color: #ff5920;
}

.BtnTrabajar{ 
    flex: 1 1 auto;
    font-family: "Montserrat", sans-serif !important ;
    border: 2px solid #ff5920;
    border-radius: 6px;
    background-color: #ffffff;
    color:  #ff5920;
    height: 45px;
    width: 180px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
