.cajaFlotante{
    display: flex;
   align-self: flex-start;
   padding: 50px;

}

.btnFloatDonar{
    flex: 1 1 auto;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    margin-left: 20px;
    font-weight: bold;
}







