.btnFloatDonar{
    /* flex: 1 1 auto; */
    margin-top: 50px;
    font-family: "Montserrat", sans-serif !important;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-left: 100px;
}







