.btnFloatDonar{
    /* flex: 1 1 auto; */
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    {
        .btnFloatDonar{
            /* flex: 1 1 auto; */
            margin-top: 50px;
            font-family: "Montserrat", sans-serif;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            background-color: #ff5920;
            height:30px;
            width: 130px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            margin-left: 120px;}

        }
        









    
