
.iconsBotton{
    height: 80px;
    border-radius: 6px;
    float: right;
   padding-right: 25px;
}
/* 
 .compartir {
   position: fixed; 
    display: flex;
    
    bottom: 10%;
   
  width: 300px;
    z-index: 2000;
   
}  */