.containerHeader {
    background-color: #ffffff;
    overflow: hidden;
    position: absolute; 
    top: 0;
<<<<<<< HEAD
    width: 100%;
    
=======
    width: 100%;  
>>>>>>> b33a70248cf0f7ce671e9c7740d66ede1c48518f
}

.logonav {
    display: flex;
    justify-content: space-evenly;
}

.Cajalogo{
    flex: 1;
    margin-top: 4%;
}

.navbar{
   display: flex;
   flex: 5;
}

.menuPrincipal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    color:#333;
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
}

.enlacePrincipal {
    /* display: inline-block; */
    display: block;
    flex: 3;
    flex-grow: 1;
    justify-content: center;
    min-width: 150px;
}

.enlacePrincipal:hover .alternativas {
    display: block;
}
  
.enlacePrincipal .alternativas{
    display: none;
    list-style: none;
    position: absolute;
    max-width: 300px;
    height: auto;
    background-color: #f2f2f2;
}
  
.opciones{
    color:  #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
}
     
.SocialContainer {
    display: flex;
    flex: 1;
}

.SocialIcon{
    margin-top: 15px;
    height: 40px;
}

.BtnDonar {
    flex: 1;
    filter: opacity(0.9);
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    margin: 15px 20px 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.BtnDonar a {
    color: #ffffff;
    text-decoration: none;
}

.BtnDonar:hover {
    background-color: blueviolet;
}