.containerHeader {
    /* display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    margin-top: 0;
    justify-content: center; */
    background-color: transparent;
    /* background-color: #FCF5EB; */
    /* background-color: lightgray; */
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
    
   
}

.logonav {
    display: flex;
    justify-content: space-evenly;
}

.Cajalogo{
    margin-top: 4%;
}

.navbar{
   display: flex;
}
  
.navbar .alternativas{
   justify-content: space-around;
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
}
  
.opciones{
    color:  #333333;;
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    size: 6px;
   }
     
.SocialContainer {
    display: flex;
    /* justify-content: end; */
    /* flex-flow: row ; */
    /* height: 40px ; */
 }

 .SocialIcon{
    margin-top: 15px;
    height: 40px;
}

.BtnDonar {
    flex: 1 1 auto;
    filter: opacity(0.9);
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    margin: 15px 20px 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.BtnDonar a {
    color: #ffffff;
    text-decoration: none;
}

.BtnDonar:hover {
    background-color: blueviolet;
}