.ContainerFooter{
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}
h1{
font-family: Montserrat !important;
font-style: normal;
font-weight: 800;
font-size: 44px;
line-height: 54px;

color: #333333;
}

.ImgColaboradores{
    width: 100%;
    height: 50%;
}

.LogosColaboradores{
    width: 100%;
 
}

.BoxColaboradores{
    width: 100%;
    height: 70%;
    background: #FCF5EB;
}

.TextoColaboradores{
    padding-top: 20px;
    padding-left: 30px;
}



/* Mitad del footer que es celeste*/

.BoxFooter{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: #2CB7E5;
    width: 100%;
    height: 40%;
}

.ContenedorLogo{
    padding-top: 4%;
    width: 10%;
}

.LogoFooter{
    width: 100%;
}

.ContainerNewsletter{
    margin-top: 20px;
}

.ContainerNewsletter p{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.InputBoton{
    margin-top: 20px;
    margin-left: -2.3%;
    /* display: flex;
    justify-content: flex-end; */
   
   
}

.inputNewsletter1, .inputNewsletter2{
   margin-left: 20px;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    color: #828282;
    font-size: 15px;
    outline: none;
   
}

.madeBy {
    display: flex;
    justify-content: flex-start;
    background-color: #2CB7E5;
    color: #ffffff;
    padding-left: 23%;
    font-size: 14px;
  
}


.BtnSuscribirse{
    flex: 1 1 auto;
    filter: opacity(0.9);
    font-family: "Montserrat", sans-serif;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff5920;
    height: 45px;
    width: 180px;
    margin-left: 20px;
    margin-top: -2px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.TextRRSS{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.TextRRSS h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.1%;
    text-align: left;
    color: white;
}

.IconRRSS{
    height: 40px
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3){
    .ContainerFooter{
        display: flex;
        flex-flow: column;
        height: 100vh;
    }

    .ImgColaboradores{
        width: 100%;
        height: 30%;
    }
    
    .LogosColaboradores{
        width: 100%;
    }
    .BoxFooter{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        
        align-items: center;
        background-color: #2CB7E5;
        width: 100%;
        height: 70%;
    }
    
    .ContenedorLogo{
        width: 30%;
        margin-top: 20px;
    }
    
    .LogoFooter{
        width: 100%;  
    }
    

    .ContainerNewsletter{
        margin-top: 15px;
        align-items: center;
    }
    
    .ContainerNewsletter p{
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        color: white;
    }
    
    .InputBoton{
        display: flex;
        flex-flow: column;
        align-items: center;
        letter-spacing: normal;
    }
    
    .inputNewsletter1, .inputNewsletter2 {
        height: 20px;
        width: 200px;
        left: 100px;
        top: 50px;
        border-radius: 5px;
        border: none;
        
    }
    
    .inputNewsletter2{
        margin-left: 25px;
    }
    
    .BtnSuscribirse{
        flex: 1 1 auto;
        filter: opacity(0.9);
        font-family: "Montserrat", sans-serif;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        background-color: #ff5920;
        height: 35px;
        width: 100px;
        margin-left: 15px;
        margin-top: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
    }
    
    
    .TextRRSS{
        margin-top: 10px;
        justify-content: center;
    }
    
    .TextRRSS h4{
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: white;
    }
    
    .IconRRSS{
        height: 30px
    }














}