.BoxPadre {
    background-image: url("../../img/Sumate-portada.png");
    height: 432px;
    width: 1650px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-flow: column;
}

.BoxTitulos{
    color: white;
    padding-left: 20px;
}
.BoxTitulos h1{
    color: white;
}

.Boton1, .Boton2, .Boton3, .Boton4, .Boton5, .Boton6 {
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.25);
}

.ContainerTextos{
    display:flex;
    justify-content: space-between;
    background-color: ivory;
    position: absolute;
    bottom: 0;
}

.CajaImgTextos{
    display:flex;
    flex-flow: row;
    font-family: Montserrat;  
    font-style: normal;
    letter-spacing: 0px;
}

.CajaImgTextos h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;   
    color: #333333;
}

.CajaImgTextos p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #333333;
}